.booking-slots{
  max-height: 300px;
  overflow-y: scroll;
  margin: 50px 100px 0px 100px;
  width: 50%;

  button {
    margin: 5px;
    padding: 10px;
  }
}

.alert-message {
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}